<h1 class="display-4">こんにちは</h1>
<p class="lead">Use ninja search to find pefrect job!</p>

<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Stanowisko" #stanowisko>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Miejscowość (zostaw puste zeby wyszukac wszystkie oferty)" #miejscowosc>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Stanowisko (drugie slowo kluczowe opcjonalnie)" #stanowisko2>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Pracodawca (opcjonalnie)" #pracodawca>
        </div>
    </div>
</br>
    <button type="button" (click)='search(stanowisko.value, miejscowosc.value, pracodawca.value)' class="btn btn-primary">Szukaj</button>
</div>

<div class="row" [hidden]="!resp">
    <div class="col-lg-8">
        Wyniki wyszukiwania:
        <div *ngFor="let item of resp; let i = index">

            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <a [href]="item.url">{{item.title}}</a> - {{item.company}} -
                        <a [href]="'http://www.google.com/search?q=' + item.company">szukaj firmy w google</a>
                    </h5>
                    <p class="card-text">{{item.description}}</p>
                </div>
                <div class="card-header">
                    <img class="providerLogo" [src]=item.websiteLogoUrl> - 2 days ago -
                    <a [href]=item.url>link do oferty</a>
                </div>
            </div>
        </div>
        <br/>
    </div>

    <div class="col-lg-4">
        <br/>
        <div class="card text-center">
            <div class="card-body">
                <div class="col">
                    <h5 class="card-title">Ostatnio wyszukiwane:</h5>
                    <p class="card-text">Java Developer - katowice</p>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>